<form method="post" action="{{{action}}}">
  <ul>
    <li>
      <label>Title</label>
      <input type="text" name="title" value="{{title}}" />
    </li>
    <li>
      <input type="submit" value="save" />
    </li>
  </ul>
</form>
